html {
	-webkit-box-sizing: border-box;
			box-sizing: border-box;
}

*,
*:before,
 *:after {
 	-webkit-box-sizing: inherit;
 	box-sizing: inherit;
}

body {
	margin: 0;
	padding: 0;
	font-family: 'PT Sans Caption', sans-serif;
	font-size: 16px;
	line-height: 1.5;
}

img {
  max-width: 100%;
  height: auto;
}


a {
  text-decoration: none;
}

.svg-sprite {
  display: none;
}

/* HEADER */

.header {
	margin: 0;
	padding-top: 270px;
	padding-bottom: 47px;
	background-color: #004371;
	background-image: url("../img/bg/bg-header.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;

	/*height: 100vh;*/

	color: #ffffff;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;


}

.header__title {
	font-size: 56px;
	font-family: 'Merriweather', serif;
	line-height: 62px;
	margin-bottom: 30px;
	margin-top: -50px;

}

.header__description {
	margin-bottom: 300px;
	width: 400px;
	font-size: 28px;
	line-height: 42px;
	text-align: center;
}

.down-svg {
	fill: #ffffff;
}

/* GRID */

.container {
	width: 1140px;
	margin-left: auto;
	margin-right: auto;
}

.row {
	display: flex;
	justify-content: space-between;
}

.col-4 {
	width: 360px;
}

/* PORTFOLIO */

.portfolio {
	padding-top: 70px;
	padding-bottom: 110px;
}

.portfolio-item {
	margin-bottom: 20px;
}

.portfolio__title {
	margin: 0;
	padding-bottom: 60px;
	font-size: 46px;
	font-family: 'Merriweather', serif;
	text-align: center;
}

.portfolio-item__title {
	margin: 0;
	margin-top: 23px;
	padding: 0
	font-size: 24px;
	line-height: normal;
}

/*.portfolio-item__description {
	margin: 0;
	padding: 0;
}*/

.portfolio-item__title a {
	color: #000000;
}

.portfolio-item__title a:hover {
	color: #0052c2;
	border-bottom: 1px solid rgba(0, 82, 194, 0.3);
}

.portfolio-item__title a:active {
	border: none;
}

/* FOOTRER */

.footer {
	padding-top: 90px;
	padding-bottom: 200px;
	background-color: #061634;
	color: #6479a2;
}

.footer__social-list {
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
	align-items: center;
	margin: 0 auto;
	padding: 0;
	list-style: none;
}

.footer__social-item {
	margin: 0;
	margin-right: 36px;
	padding: 0;
}

.footer__social-item:last-child {
	margin-right: 0;
}

.social-item {
	fill: #ffffff;
}

.social-item:hover {
	fill: #ffe400;
}

.footer p {
	margin-top: 0;
	margin-bottom: 15px;
}

.footer__name {
	margin-bottom: 10px;
	font-family: 'Merriweather', serif;
	line-height: 1.6;
}

.footer__name.copyright {
	font-size: 28px;
}

.footer__social {
	color: #ffffff;
}

.footer__button {
	display: inline-block;
	padding: 8px 23px;
	vertical-align: baseline;
	font-weight: 700;
	color: #ffffff;
	text-transform: uppercase;
	letter-spacing: 1.6px;
	border-width: 2px;
	border-color: #ffffff;
	border-style: solid;
	border-radius: 50px;
}

.footer__button:hover {
	color: #061634;
	background-color: #ffffff;

}

